.wrapper{
    min-height: calc(100vh - 72px);
}

.main-footer{
    background-color: #212529;
    color: #fefefe;
    padding: 16px;
    margin-top: 20px;
}

.form-content-section{
    background-color: #fefefe;
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 18px;
    
}

.division{
    display: flex;
    
}

.form-content{
    width: 600px; 
    margin: 0 auto;
    padding: 15px;
    border: 2px solid black;

}

.division-part-one{
    margin-right: 25px;
}

